<!DOCTYPE html>
<html lang="en">
<head>
{{
    helper.metas()
    .add({charset: 'utf-8'})
    .addName('viewport', 'width=device-width,initial-scale=1,shrink-to-fit=no')
    .addHttp('x-ua-Compatible', 'ie=edge')
    |raw
}}
{{
    helper.title(title)
    .append(' - University Libraries at BGSU')
    |raw
}}
{% block styles %}
{{
    helper.styles()
    .add('//services.bgsu.edu/bgsulibs/theme/1.1.0/theme.css')
    .addInternal('
        .page-title {
            margin-top: 40px;
        }

        .navbar .btn-navbar .icon-bar {
            background-image: none !important;
        }
    ')
    |raw
}}
{{
    helper.scripts()
    .addCond('lt IE 9', '//services.bgsu.edu/html5shiv/3.7.0/html5shiv.js')
    .add('//services.bgsu.edu/bgsulibs/theme/1.1.0/ss-icons.min.js')
    .add('//services.bgsu.edu/bgsulibs/jquery/1.12.4/jquery-1.12.4.js')
    .add('//services.bgsu.edu/bgsulibs/mmenu/4.1.9/jquery.mmenu.min.js')
    .add('//services.bgsu.edu/bgsulibs/fastclick/1.0.6/fastclick.min.js')
    |raw
}}
{% endblock %}
</head>
<body>
    <div id="skip-to-main-content" role="navigation" aria-label="Skip to main content">
        <a href="#main-content">Skip to main content</a>
    </div>
    <div id="college-header" class="header-container">
        <header>
            <div class="header-top">
                <div class="container">
                    <img src="//services.bgsu.edu/bgsulibs/theme/1.1.0/images/bgsu.png" alt="Bowling Green State University" />
                </div>
            </div>
            <div class="navbar-wrapper">
                <div class="container" style="position: relative;">
                    <div class="toolbar-with-header-search-bar">
                        <div class="top-button top-services hide-full">
                            <a class="ss-icon ss-pika" href="https://www.bgsu.edu/give" target="_blank">Gift</a>
                            <a class="ss-icon ss-standard mobile-search-nav" href="#">Search</a>
                            <a href="https://my.bgsu.edu" target="_blank"><span class="thin">My</span><span class="bold">BGSU</span></a>
                            <a class="ss-icon ss-standard" href="https://www.bgsu.edu/email">Email</a>
                        </div>
                        <div class="header-search-bar" role="search">
                            <form class="yui-skin-sam" name="searchform" method="get" action="https://search.bgsu.edu">
                                <input type="text" id="q" name="q" placeholder="Search" title="Search BGSU" />
                                <a class="ss-icon" onclick="document.searchform.submit()" role="button">Search</a>
                                <div id="autocomplete"></div>
                                <input type="hidden" name="sp_cs" value="UTF-8" />
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span12">
                            <a class="brand" style="position: relative; z-index: 9999999;" href="https://www.bgsu.edu/">
                                <img src="//services.bgsu.edu/bgsulibs/theme/1.1.0/images/logo.png" alt="BGSU" />
                            </a>
                            <h2 class="college-title my-header-title">
                                <a href="https://www.bgsu.edu/library.html" class="headerLink">
                                    <span class="thin">University</span> Libraries
                                </a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-search mobile-search-dropdown search-dropdown" data-spy="affix">
                <div class="inner-padding container">
                    <form accept-charset="iso-8859-1" method="get" name="mobileSearch">
                        <a class="ss-icon" onclick="document.mobileSearch.submit();">search</a>
                        <input id="mobileWebSearch" placeholder="Search" type="text" class="search-bar" name="q" />
                    </form>
                </div>
            </div>
        </header>
        <div class="navigation topnav">
            <div class="nav-space">
                <div class="nav-container" data-spy="affix" data-offset-top="140" role="navigation" aria-label="Main Navigation">
                    <div class="container">
                        <div id="main-nav" class="navbar">
                            <a class="btn btn-navbar" onclick="return false;" href="#mobile-nav" aria-label="Menu">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <a class="btn btn-navbar btn-small-nav-search ss-icon mobile-search-nav" href="#">Search</a>
                            <a class="fixed-logo" href="https://www.bgsu.edu/" style="padding-top: 14px;">
                                <img src="//services.bgsu.edu/bgsulibs/theme/1.1.0/images/logo.png" width="60" alt="BGSU" />
                            </a>
                            <div class="nav-collapse collapse">
                                <div>
                                    <ul class="nav">
                                        <li class="sub-logo hide-960"><a href="https://www.bgsu.edu/"><img src="//services.bgsu.edu/bgsulibs/theme/1.1.0/images/logo-60.png" alt="BGSU" width="60" /></a></li>
                                        <li><a href="https://www.bgsu.edu/library.html">UL Home</a></li>
                                        <li><a href="https://www.bgsu.edu/library/search-and-find.html">Search &amp; Find</a></li>
                                        <li><a href="https://www.bgsu.edu/library/services/services.html">Services</a></li>
                                        <li><a href="https://www.bgsu.edu/library/special-collections-and-libraries.html">Libraries &amp; Collections</a></li>
                                        <li><a href="https://www.bgsu.edu/library/about.html">About Us</a></li>
                                        <li><a href="https://maurice.bgsu.edu/patroninfo.html">My Account</a></li>
                                        <li><a href="https://www.bgsu.edu/library/ask-us.html">Ask Us!</a></li>
                                        <li id="search-box" class="search-nav dropdown pull-right"><a href="#"><span class="search-text">Search</span><span class="ss-icon ss-standard ss-search"></span></a></li>
                                        <li class="email-btn pull-right"><a href="https://www.bgsu.edu/email"><span class="search-text">Email</span><span class="ss-icon ss-standard ss-mail"></span></a></li>
                                        <li class="mybgsu pull-right"><a href="https://my.bgsu.edu" target="_blank"><span class="thin">My</span><span class="bold">BGSU</span></a></li>
                                        <li class="add-link pull-right"><a href="https://www.bgsu.edu/give" target="_blank"><span class="search-text">Give </span><span class="ss-icon ss-pika ss-gift"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search search-dropdown full-search-dropdown">
                        <div class="inner-padding container">
                            <form accept-charset="iso-8859-1" action="https://search.bgsu.edu/" method="get" name="search">
                                <a class="ss-icon" onclick="document.search.submit();">search</a><input id="webSearch" placeholder="Search" type="text" class="search-bar" name="q" />
                            </form>
                        </div>
                    </div>
                </div>
                <div class="mobile-nav-container">
                    <nav id="mobile-nav" role="navigation" aria-label="Mobile Navigation">
                        <ul>
                            <li class="search-nav-mobile pull-right">
                                <div class="search">
                                    <div class="inner-padding">
                                        <form accept-charset="iso-8859-1" action="https://search.bgsu.edu/" method="get" name="searchMobile">
                                            <a class="ss-icon" onclick="document.searchMobile.submit();" role="button">Search</a><input id="mobileSearch" placeholder="Search" type="text" class="search-bar" name="q" title="Search BGSU" />
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <li><a href="https://www.bgsu.edu/library.html">UL Home</a></li>
                            <li><a href="https://www.bgsu.edu/library/search-and-find.html">Search &amp; Find</a></li>
                            <li><a href="https://www.bgsu.edu/library/services/services.html">Services</a></li>
                            <li><a href="https://www.bgsu.edu/library/special-collections-and-libraries.html">Libraries &amp; Collections</a></li>
                            <li><a href="https://www.bgsu.edu/library/about.html">About Us</a></li>
                            <li><a href="https://maurice.bgsu.edu/patroninfo.html">My Account</a></li>
                            <li><a href="https://www.bgsu.edu/library/ask-us.html">Ask Us!</a></li>
                            <li class="email-btn pull-right"><a href="https://www.bgsu.edu/email"><span class="ss-icon ss-standard ss-mail"></span> <span class="search-text">Email</span></a></li>
                            <li class="mybgsu dropdown pull-right"><a href="https://my.bgsu.edu"><span class="thin">My</span> <span class="bold">BGSU</span></a></li>
                            <li class="add-link pull-right"><a href="https://www.bgsu.edu/give" target="_blank"><span class="ss-icon ss-pika ss-gift"></span> <span class="search-text"> Give</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <article id="main-content" role="main">
        <div class="container" id="content">

{% block content %}
<h2 class="page-title">{{ title }}</h2>
{% block breadcrumbs %}
{% endblock %}
{% for message in messages %}
<div class="alert alert-{{message.level}}">{{message.message}}</div>
{% endfor %}
{% endblock %}

        </div>
    </article>

{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="span3">
                    <img src="//services.bgsu.edu/bgsulibs/theme/1.1.0/images/logo.png" alt="BGSU" />
                    <p class="footer-date">
                        Bowling Green State University<br />
                        Bowling Green, OH<br />
                        43403-0001<br />
                        (419) 372-2531
                    </p>
                    <p class="footer-date" style="clear:both;padding-top: 15px;">
                        <a href="https://www.bgsu.edu/give" target="_blank">
                            <span class="search-text">Make A Gift</span><span class="ss-icon ss-pika ss-gift" style="vertical-align: middle;"></span>
                        </a>
                    </p>
                </div>
                <div class="span3">
                    <ul class="footer-nav">
                        <li><a href="https://www.bgsu.edu/a-z-links.html">A-Z Links</a></li>
                        <li><a href="https://www.bgsu.edu/students.html">Students</a></li>
                        <li><a href="https://www.bgsu.edu/faculty-staff.html">Faculty/Staff</a></li>
                        <li><a href="https://www.bgsu.edu/parents.html">Parents</a></li>
                        <li><a href="https://www.bgsu.edu/employment.html">Employment</a></li>
                        <li><a href="https://www.bgsu.edu/library.html">Libraries</a></li>
                        <li><a href="https://www.firelands.bgsu.edu/">Firelands</a></li>
                        <li><a href="https://webapp.bgsu.edu/directorySearch/">Directory</a></li>
                        <li><a href="https://www.bgsu.edu/its.html">Technology Support</a></li>
                    </ul>
                </div>
                <div class="span6 accessibility">
                    <h4>ACCESSIBILITY</h4>
                    <p style="font-size: 12px;"><a href="https://www.bgsu.edu/accessibility.html"><span class="ss-icon ss-pika ss-wheelchair" style="vertical-align: middle;"></span>&nbsp;Report an Issue</a></p>
                    <p style="font-size: 12px;">Bowling Green State University (BGSU) has built their website around the Standards of the World Wide Web Consortium’s (W3C) Hyper Text Markup Language (HTML) 5 and Cascading Style Sheets (CSS).&nbsp; The website was built in compliance with the accessibility standards established by section 508 of the Rehabilitation Act and detailed in section 1194.22 of the Code of Federal Regulations, “Web-based intranet and internet information and applications” (<a href="https://www.section508.gov/">https://www.section508.gov/</a>).</p>
                    <p style="font-size: 12px;">BGSU utilizes many web masters across campus to maintain all of its web properties.&nbsp; Keeping the BGSU website in compliance with section 508 is a joint effort between Accessibility Services, Marketing and Communications and Information Technology Services.&nbsp; If any page is discovered to be inaccessible, please report it using the above link and we will ensure that the issue is addressed.</p>
                    <p style="font-size: 12px;">&nbsp;</p>
                    <h4>Events</h4>
                    <p style="font-size: 12px;">To our guests with disabilities, please indicate if you need special services, assistance or appropriate modifications to fully participate in this event by contacting&nbsp;Accessibility Services, <a href="mailto:access@bgsu.edu">access@bgsu.edu</a>, 419-372-8495. Please notify us prior to the event.</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
{% block scripts %}
{{
    helper.scripts()
    .add('//services.bgsu.edu/bgsulibs/theme/1.1.0/clientlibs.js')
    .add('//ajax.googleapis.com/ajax/libs/yui/2.8.0r4/build/utilities/utilities.js')
    .add('//ajax.googleapis.com/ajax/libs/yui/2.8.0r4/build/datasource/datasource-min.js')
    .add('//ajax.googleapis.com/ajax/libs/yui/2.8.0r4/build/autocomplete/autocomplete-min.js')
    .add('//content.atomz.com/sp10050db1/publish/autocomplete_data.js?sp_js_cache_ver=2')
    |raw
}}
{% endblock %}
</body>
</html>
